html,
body {
  height: 100%;
  /* Täysi korkeus sivulle */
  margin: 0;
  /* Poistaa oletusmarginaalit */
  padding: 0;
  /* Poistaa oletuspaddingit */
  display: flex;
  flex-direction: column;
  /* Asettaa elementit pystysuunnassa */
}

.centered-container {
  flex: 1;
  /* Vie kaiken jäljellä olevan tilan, mutta jättää tilaa footerille */
  display: flex;
  /* Asettaa flexboxin käyttöön */
  flex-direction: column;
  /* Sisältö pystysuunnassa */
  align-items: center;
  /* Keskittää kaikki alielementit horisontaalisesti */
  justify-content: flex-start;
  /* Asettaa sisällön yläosaan, ei keskitä vertikaalisesti */
  width: 100%;
  /* Koko näytön leveys */
  padding: 20px;
  /* Tilaa ympärillä */
}

#calendar-grid {
  display: grid;
  /* Asetetaan näyttömuodoksi grid, joka määrittelee elementin ruudukkona */
  grid-template-columns: repeat(3,
      1fr);
  /* Kolme samankokoista saraketta käyttäen fr yksikköä */
  gap: 10px;
  /* Asettaa 10 pikselin välin kaikkien solujen väliin */
  padding: 20px;
  /* Lisää 20 pikselin tyhjän tilan ruudukon sisäpuolelle */
  margin: auto;
  /* Keskittää ruudukon sivusuunnassa asettamalla automaattisen marginaalin */
  width: 90%;
  /* Asettaa ruudukon leveydeksi 90% vanhemman elementin leveydestä */
  max-width: 1100px;
  /* Rajaa ruudukon maksimileveyden 1100 pikseliin */
}

.calendar-cell {
  background-color: rgba(240, 240, 240, 0.5);
  /* Asettaa puoliläpinäkyvän vaaleanharmaan taustan */
  border: 1px solid #ccc;
  /* Säilyttää 1 pikselin harmaan reunuksen */
  aspect-ratio: 1;
  /* Säilyttää 1:1 kuvasuhteen */
  display: flex;
  /* Käyttää flexboxia asettelussa */
  align-items: center;
  /* Keskittää sisällön pystysuunnassa */
  justify-content: center;
  /* Keskittää sisällön vaakasuunnassa */
  backdrop-filter: blur(8px);
  /* Lisää sumennusefektin solun takana oleviin elementteihin */
  -webkit-backdrop-filter: blur(8px);
  /* Safari-yhteensopivuutta varten */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Valinnainen: Lisää pehmeän varjon syvyyden luomiseksi */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Sulava siirtymä hover-efekteille */
  cursor: pointer;
  /* Vaihtaa kursorin osoittimeksi osoittaen klikattavuutta */
  font-size: 25px;
  /* Fontin koko */
  font-weight: bold;
  /* Lihavoidaan teksti */
  color: #ffffff;
  /* Tekstin väri */
  border-radius: 20px;
  /* Lisää pyöristetyt kulmat */
  border: 1px solid #ccc;
  /* Lisää hienovaraisen reunuksen */
}

.calendar-cell:hover {
  background-color: rgba(164, 193, 219, 0.7);
  /* Vaalentaa taustaa hover-tilassa interaktiivisemman tunteen luomiseksi */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  /* Lisää varjoa antamaan "nosto" -efekti */
}

#event-description {
  font-family: Arial, sans-serif;
  /* Asettaa fontin perheen */
  font-size: 16px;
  /* Asettaa fontin koon */
  color: #333;
  /* Asettaa tekstin värin tummanharmaaksi */
  line-height: 1.5;
  /* Asettaa rivivälin paremman luettavuuden vuoksi */
  max-width: 600px;
  /* Rajoittaa maksimileveyden 600 pikseliin */
  margin: 0 auto;
  /* Keskittää tekstilohkon vaakasuunnassa */
  padding: 20px;
  /* Lisää sisällön ympärille tyhjää tilaa */
  text-align: justify;
  /* Tasaa tekstin siistin ulkonäön saavuttamiseksi */
  background-color: #f8f8f8;
  /* Vaalea taustaväri tekstialueelle */
  border-radius: 8px;
  /* Lisää pyöristetyt kulmat */
  border: 1px solid #ccc;
  /* Lisää hienovaraisen reunuksen */
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(45, 58, 77, 0.822);
  color: white;
  /* Tekstin väri */
  font-weight: bold;
  /* Lihavoidaan teksti */
}


/* Dialogi osio */
.dialog-hidden {
  display: none;
}

.dialog-visible {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(213, 235, 255, 0.747);
  border: 2px solid #ccc;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  min-width: 40%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 20px;
}

.dialog-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Muutettu keskittämästä, jotta sisältö alkaa yläreunasta */
  align-items: center;
  width: 100%;
  max-height: 80vh;
  /* Määrittele maksimikorkeus prosentteina näytön korkeudesta */
  overflow-y: auto;
  /* Sallii pystysuoran vierityksen tarvittaessa */
  padding: 20px;
  /* Varmistaa, että on tilaa sisällön ympärillä */
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}

#event-map,
#event-image {
  /* Nämä tyylit pitävät elementit keskitettyinä flexbox-säännön ansiosta */
  width: 100%;
  /* Käytä 100% leveydestä */
  max-width: 500px;
  /* Maksimileveys */
  height: auto;
  /* Automaattinen korkeus aspect-ratio mukaan */
  object-fit: cover;
  /* Täyttää koko tilan leikkaamalla ylimääräiset osat */

}

#event-map {
  width: 100%;
  height: 200px;
  min-width: 300px;
  max-width: 90%;
  height: auto;
  min-height: 400px;
  max-height: 600px;
}

#event-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 100%;
  /* Maksimileveys, varmistaa että kuva ei veny yli kontin leveyden */
  min-width: 200px;
  /* Minimileveys, varmistaa että kuva ei kutistu alle 300px */
  height: auto;
  /* Korkeus määräytyy automaattisesti mittasuhteen mukaan */
  max-width: 400px;
  /* Voi rajoittaa kuvan korkeutta */
  object-fit: cover
    /* Täyttää kontin pitäen mittasuhteen, voi leikata ylimääräiset osat */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 5%;
  /* Sijoitettu oikeaan yläkulmaan */
  font-size: 25px;
  cursor: pointer;
  background-color: rgba(45, 58, 77, 0.315);
  /* Taustaväri, valinnainen */
  border: none;
  /* Poistaa reunan, jos sellainen on */
  padding: 5px 10px;
  /* Pieni padding parantamaan painikkeen ulkoasua */
  border-radius: 5px;
  /* Pyöristetyt kulmat */
  color: #333;
  /* Tekstin väri, valinnainen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Lisää varjoa erottuvuuden lisäämiseksi */
}

.close-button:hover {
  background-color: #ff0000af;
  /* Hieman tummempi vihreä, kun hiiren kohdistin on päällä */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Suurempi varjo, kun hiiren kohdistin on päällä "nosto" -efektin aikaansaamiseksi */
}

.close-button:active {
  background-color: #3a658d;
  /* Vielä tummempi vihreä, kun painiketta painetaan */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Pienempi varjo "painamisen" efektin jäljittelemiseksi */
}


#closeButton1 {
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
}

#closeButton1 {
  font-size: 25px;
  /* Säilyttää suuren fonttikoon */
  margin-top: 10px;
  /* Säilyttää ylämarginaalin */
  cursor: pointer;
  /* Säilyttää osoittimen osoittimena osoittaen, että se on napsautettavissa */
  padding: 10px 20px;
  /* Lisää paddingia tekstin ympärille, jotta painike on suurempi */
  background-color: #82c7ff;
  /* Mukava vihreä tausta */
  color: white;
  /* Valkoinen tekstin väri paremman kontrastin vuoksi */
  border: none;
  /* Ei reunaa siistimmän ulkonäön vuoksi */
  border-radius: 10px;
  /* Pyöristetyt kulmat */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Lisää hienovaraisen varjon 3D-efektin aikaansaamiseksi */
  transition: background-color 0.3s, box-shadow 0.3s;
  /* Sulava siirtymä hiiren tapahtumille */
}

#closeButton1:hover {
  background-color: #41799e;
  /* Hieman tummempi vihreä, kun hiiren kohdistin on päällä */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Suurempi varjo, kun hiiren kohdistin on päällä "nosto" -efektin aikaansaamiseksi */
}

#closeButton1:active {
  background-color: #3a658d;
  /* Vielä tummempi vihreä, kun painiketta painetaan */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Pienempi varjo "painamisen" efektin jäljittelemiseksi */
}



/* Media Query mobiililaitteille */
@media (max-width: 600px) {
  #calendar-grid {
    grid-template-columns: 1fr;
    /* Asettaa yhden sarakkeen mobiililaitteiden näyttökokoon */
  }
}

body {
  background-image: url('Kalenteri_kuvat/Helsinki.png');
  background-size: cover;
  /* Taustakuvan kokoa muutetaan siten, että se peittää koko näytön säilyttäen silti alkuperäisen kuvasuhteen */
  background-repeat: no-repeat;
  /* Estää taustakuvan toiston */
  background-attachment: fixed;
  /* Kiinnittää taustakuvan näytön yläosaan, jolloin se ei liiku vieritettäessä */
}

/* Muokkaa sivun otsikon tyyliä */
h1 {
  color: white;
  /* Aseta tekstiväri valkoiseksi */
  font-weight: bold;
  /* Lihavoidaan teksti */
  font-size: 50px;
  /* Aseta fontin koko */
}